
<section class="home-seven" style="height: 650px;">
	<div class="container">

		<div class="row posr">
			<div class="col-lg-10 offset-lg-1">
				<div class="home_content home7">
					<div class="home-text text-center">
						<h2 class="fz55">Discover your place to live</h2>
						<p class="fz18 color-white">Get started in few clicks.</p>
					</div>
					<div class="home_adv_srch_opt home7">
						<div class="home1-advnc-search home7">
							<ul class="h1ads_1st_list mb0 text-center">
								<li class="list-inline-item">
									<div class="search_option_two">
										<div class="candidate_revew_select">
											<select class="selectpicker w100 show-tick">
												<option>Select City</option>
												
												<option>Apartment</option>
												<option>Bungalow</option>
												<option>Condo</option>
												<option>House</option>
												<option>Land</option>
												<option>Single Family</option>
											</select>
										</div>
									</div>
								</li>
								<li class="list-inline-item">
									<div class="form-group">
										<input type="text" class="form-control" id="exampleInputName1" placeholder="Enter keyword...">
									</div>
								</li>
								<li class="list-inline-item">
									<div class="search_option_button">
										<button type="submit" class="btn btn-thm">Search</button>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
